.header-button {
  border-radius: 50px !important;
  background-color: #000 !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.header-font {
  color: #000 !important;
  font-size: 1em !important;
}

.footer-div {
  background: #e5e5e5;
}

.footer-icon {
  color: #000000 !important;
  font-size: 1.8rem;
  cursor: pointer;
}

.footer-para {
  color: #000;
  font-size: 0.6em;
}

.footer-divider {
  border-bottom: rgba(0, 0, 0, 0.11) 1px solid !important;
}
