@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Whole Website Styling*/
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header and Footer Styling*/
.header-button {
  border-radius: 50px !important;
  background-color: #000 !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.header-font {
  color: #000 !important;
  font-size: 1em !important;
}

.footer-div {
  background: #e5e5e5;
}

.footer-icon {
  color: #000000 !important;
  font-size: 1.8rem;
  cursor: pointer;
}

.footer-para {
  color: #000;
  font-size: 0.6em;
}

.footer-divider {
  border-bottom: rgba(0, 0, 0, 0.11) 1px solid !important;
}

/* Hero and Appreciation Styling*/
.hero-count {
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  font-size: 13px;
}

.card-bg-color {
  margin-top: 5rem;
  height: 9rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.7);
}

.sc-tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000 !important;
  font-weight: bold;
  border-bottom: 3px solid !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.sc-tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #6c6464;
}

.sc-tab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  border: 0;
  color: #000;
}

.no-border {
  border: 0px !important;
}

.hero-details-col {
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid !important;
  border-width: 0 1px 0 0;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
}

.sc-appreciation-icon {
  color: #00000080 !important;
  font-size: 1.5rem;
  cursor: pointer;
}

.sc-sidedarlink {
  padding: 0 !important;
  border: none !important;
}

/*Search Bar*/
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
}

#search_field:focus {
  outline: none;
  box-shadow: none;
}

.sc-logincontrol {
  background-color: #fff;
}

/* h6 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  line-height: 1em;
  margin: 10px 0 20px;
}

h6 span {
  background: #fff;
  padding: 0 10px;
} */

.sc-disablefocus:focus,
.form-check-input:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.sc-menudropdown .dropdown-toggle::after {
  display: none !important;
}

.sc-menudropdown .dropdown-toggle:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.sc-menudropdown .dropdown-toggle {
  background: none !important;
  border: none !important;
  padding: none !important;
  width: max-content !important;
}

.sc-menudropdown .dropdown-toggle:hover {
  background: none !important;
  border: none !important;
}

.sc-menudropdown .dropdown-toggle .btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background: none !important;
  border: none !important;
}

.sc-menudropdown .dropdown-menu {
  margin-top: 1em !important;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 19px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 10px;
  width: 15rem;
  padding: 1rem;
}
.sc-menudropdown .dropdown-menu .dropdown-item:hover {
  background: none;
  font-weight: bold;
}

.sc-listgroup.list-group {
  border-radius: 10px !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 3px 15px 0 rgba(0, 0, 0, 0.05) !important;
}

.sc-listgroup a.list-group-item:hover {
  color: #000 !important;
  font-weight: bold !important;
}

.sc-listgroup .list-group-item {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

#button-addon4:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.sc-searchbar:hover {
  font-size: 20px;
}

.alertStyle {
  font-family: auto;
  width: auto;
}
