@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-count {
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  font-size: 13px;
}

.card-bg-color {
  margin-top: 5rem;
  height: 9rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.1);
}
