@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-count {
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  font-size: 13px;
}

.card-bg-color {
  margin-top: 5rem;
  height: 9rem;
  align-self: center;
  background: rgba(0, 0, 0, 0.7);
}

#uncontrolled-tab-example-tab-home .sc-tab .nav-tabs .nav-link {
  border-color: blue !important;
  border-style: solid !important;
  border-width: 0 0 4px 0 !important;
}

.no-border {
  border: 0px !important;
}

.hero-details-col {
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-style: solid !important;
  border-width: 0 1px 0 0;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
}
